html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
body{
width: 1280px;
}
.firstContainer{
  display: flex;
}
.rowContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 35px;
}
.colContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 113px;
  margin-left: 50px;
}
.cottonbro {
  width: 608px;
  height: 740px;
  z-index: -1;
}
.logo {
  position: absolute;
  padding-left: 57px;
  top: 40px;

}
.search {
  width: 18px;
  height: 18px;
  margin-right: 40px;
}
.cart {
  width: 23px;
  height: 23px;
  margin-right: 8px;
}
.Header {
  margin-top: 40px;
}
.signUPbox {
  width:auto;
  height: auto;
  padding: 8px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(21, 105, 99);
}
.signINbox {
  width:auto;
  height: auto;
  padding: 8px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(21, 105, 99);
}
.NunitoFont{
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
}
.MontserratFont {
font-family: "Montserrat", sans-serif;
font-style: normal;
}
.workSansFont{
  font-family: "Work", sans-serif;
  font-style: normal;
}
.poppinsFont{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.KembangFlowerMantap{
  width: 91%;
  font-size: 69.5px;
  color: rgb(21, 105, 99)
}
.KembangLorem{
  line-height: 33px;
  margin-top: 23px;
  margin-left: 30px;
  padding-right: 130px;
  color: rgb(44,21,0); 
  font-size: 18px; 
  font-weight: 400;
}
.PrevNextButtons {
  display: flex;
  margin-top: 77px;
  padding-right: 0px;
}
.previousButton{
  border: none;
  box-shadow: none;
  height: 160px;
  width: 320px;
  background-color: white;
  display: flex;
  align-items:center;
  justify-content: start;
  padding-left: 39px;
}
.nextButton{
  background-color:rgb(21, 105, 99);
  border: none;
  box-shadow: none;
  height: 160px;
  width: 320px;
  padding-right: 0px;
  padding-left: 0px;
}
.previous{
  color: rgb(51,51,51);
  font-size: 26px;
  margin-left: 15px;
}
.rowArrow{
  display: flex;
  align-items:center ;
}
.kaktus{
  font-size: 32px;
  color:rgb(21, 105, 99);
  padding-left: 5px;
  padding-top: 14px;
}
.next{
  color: rgb(242,242,242); 
  font-size: 26px;
  margin-left: 50px;
}
.rightArrow{
  padding-left: 11px;
}
.rahasia{
  color: rgb(242,242,242); 
  font-size: 32px;
  padding-top: 15px;
}
.rect{
  border: 1px solid rgb(224,224,224);
  margin: 17px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 20px;
}
.rectangles{
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 16px;
  margin-top: 130px;
}
.rectLorem{
  font-size: 9px;
  font-weight: 400;
  line-height: 14px;
  padding-top:16px;
  padding-bottom: 3px;
  padding-right: 30px;
}
.rectName{
  color:rgb(21, 105, 99);
  font-size: 17px;
  font-weight: bold;
  padding-left: 18px;
  line-height: 24px;
  padding-top: 3px;
}
.delivPlantPriceText{
  padding-right: 47px;
}
.thirdContainer{
  margin-top: 65px;
}
.FeaturedCheaper{
  justify-content: space-between;
  margin: 0px 34px 0 58px;
  padding-top:3px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(224,224,224);
}
.downArrow{
  padding-left: 16px;
}
.rowContainerFeat {
  display: flex;
  align-items: center;
}
.cheaperFirstBorder{
  border: 1px solid rgb(224,224,224);
  padding: 8px 12px 8px 12px
}
.kaktuses{
  display: grid;
  width:  85%;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(1,1fr);
  margin-left: 55px;
  margin-top: 25px;
  column-gap: 25px;
}
.kaktuses > div{
  width: 219px;
  height: 219px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.kaktusText{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 2px;
  line-height: 28px;
}
.buyMore{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-left: 80px;
  padding-right:140px;
  line-height: 58px;
  padding-top: 150px;
}
.plantsOnAWall{
  width: 41vw;
  padding-top: 148px;
  padding-right: 32px;
  width: 558px;
  height: 772px;
}
.buyMoreLorem{
  padding-left: 80px;
  padding-right: 126px;
  padding-top: 16px;
  line-height: 29px;
}
.plantOnATableDiv{
  width: 45vw;
  height: 20vw;
  padding-left: 62px;
  padding-top: 77px;
}
.fifthContainer{
  background-color: rgb(243,244,246);
  margin-left: 60px;
  margin-right: 35px;
  margin-top: 76px;
  margin-bottom: 50px;
}
.favourite{
  font-size: 40px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 0.4px;
}
.visitButton{
  background-color:rgb(21, 105, 99);
  border: none;
  box-shadow: none;
  height: auto;
  width: auto;
  padding: 8px 30px;
  margin-top: 30px;
}
.visitShop{
  color: rgb(250,254,254);
  font-size: 15px;
}
.favouriteDiv{
  margin-left: 95px;
  margin-top: 8px;
}
.footer{
  display: grid;
  margin: 0 50px 50px 70px;
  height: 20vw;
  width:  91%;
  padding-top: 50px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
  column-gap:5.5vw;
  border-top: 1px solid rgb(75, 135, 130);
}
.plantkuLogo{
  font-size: 24px;
  font-weight: 500;
  color:rgb(21, 105, 99);
  padding-bottom: 10px;
  padding-top: 8px;
}
.plantkuHouse{
  width:200px;
  font-size: 16px; 
  font-weight:500;
  padding-bottom: 15px;
}
.plantkuHouseText{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.perusahaanDiv{
  width:120px;
  line-height: 35px;
  padding-left: 10px;
}
.produk{
  width:120px;
  line-height: 35px;
  padding-left: 7px;
}
.perusahaan{
  font-size: 16px;
  font-weight:500;
  padding-bottom: 5px;
}
.tentag{
  font-size: 14px;
  font-weight: 400;
}
.berlanggananDiv{
  width: 200px;
  padding-left: 5px;
}
.berlanggananEmail{
  height: 30px;
  padding-top: 8px;
  padding-bottom: 5px;
}
.masukanEmail{
  padding:6px;
  font-size: 13px;
  font-weight: 400;
  padding-left:17px;
  color: gray;
  border: 1px solid rgb(224,224,224);
}
.submit{
  background-color:rgb(21, 105, 99);
  border: none;
  box-shadow: none;
  height: auto;
  width: auto;
  margin-top: 15px;
}
.submitText{
  color: white;
  font-size: 10px;
  padding: 6px 16px;
}
@media screen and (max-width: 768px){
    body{
      width: 768px;
    }

    .rectangles{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
    }
    .cottonbro{
      width: 850px;
      height: 820px;
    }
    .colContainer{
      margin: 0;
    }
    .firstContainer{
      flex-direction: column;
    }
    .colContainer{
      width: 600px;
    }
    .f1{
      margin-top: -823px;
      width: 800px;
    }
    .Header{
      padding-bottom: 367px;
    }
    .cart{
      padding-right: 30px;
    }
    .signUPbox{
      background-color: white;
    }
    .KembangFlowerMantap{
      color:white;
      padding-top: 50px;
    }
    .KembangLorem{
      color:white;
      width: 500px;
      padding-left: 65px;
    }
    .rowContainer{
      margin:0;
    }
    .PrevNextButtons{
        margin-left: 250px;
    }
    .rectangles{
      margin-right: 0;
      margin-left: 78px;
      margin-top: 50px;
    }
    .rect>.rowContainer{
      width:235px;
    }
    .kecubung2{
      display: none;
    }
    .kaktuses{
      display: flex;
      flex-wrap: wrap;
      margin-left: 190px;
    }
    .FeaturedCheaper{
      width: 95%;
    }
    .kaktuses>div{
      padding-bottom: 100px;
    }
    .rowContainerFeat>div{
      margin-top: -450px;
    }
    .cheap{
      margin-bottom: -450px;
    }
    .buyMore{
      margin-right: -700px;
      padding-left: 160px;
      margin-top: -600px;
      text-align: center;
    }
    .buyMoreLorem{
      margin-right: -700px;
      padding-left: 160px;
      text-align: center;
    }
    .plantOnATableDiv{
      display: none;
    }
    .plantsOnAWall{
      padding-top: 400px;
      padding-right: 40px;
    }
    .fifthContainer{
      padding-top: 410px;
      width:100%;
      height: auto;
    }
    .favourite{
      width: 300px;
    }
    .plant5{
      padding-top: 125px;
      width: 430px;
    }
    div>.favourite{
      margin-left: -50px;
    }
    .visitButton{
      margin-left: -50px;
    }
    .fifthContainer{
      margin-bottom: 50px;
    }
    .footer{
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0 60px;
      padding-top: 50px;
      column-gap:100px;
      width:100%;
      
    }
    .plantkuHouseDiv{
      width: 350px;
    }
    .produk, .berlanggananDiv{
      margin-top:40px
    }
    
}
@media screen and (max-width: 320px){
  .Header{
    display: none; 
  }
}